:root{
    @import url('https://fonts.cdnfonts.com/css/tt-wellingtons-trl');
    --bg1: #171717;
    --bg2: #242424;
    --bg3: #313131;
    --bg4: #1d1d1d;
    --txt1: #fafafa;
    --txt2: #c6c6c6;
    --txt3: #a1a1a1;
    --accent: #d04949;
    --gtrans: .35s;
    --gbrad: 1.5vmin;
    body{background:var(--bg2);}
    *{font-family: 'TT Wellingtons Trl', sans-serif;font-weight:200;color:var(--txt2);h1{color:var(--txt1);}}
    *::selection{background:var(--accent);color:var(--txt1);}
}
button{
    padding: 1.75vmin 7.5vmin;
    outline: none;
    border: 0 solid var(--accent);
    background: var(--bg3);
    border-radius: var(--gbrad);
    font-size: 2vmin;
    cursor: pointer;
    transition:var(--gtrans);
    &:hover {background: var(--accent); transform: scale(105%);}
    &:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: var(--gbrad);
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 10px 40px #ffffff50;
    }
    &:active:after {
        box-shadow: 0 0 0 0 #ffffff50;
        position: absolute;
        opacity: 1;
        transition: 0s;
    }
}
#content {
    z-index: 30;
    height: 100dvh;
    width: 80dvw;
    position: fixed;
    top: 0;
    right: 0;
    border-right: var(--bg3) 1px solid;
    background:transparent;
    background-size:cover;
    padding: 5vmin;
    #statusbar{
        width: 100%;
        height: 25px;
        background: var(--bg4);
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 3.5px;
        #status {
            font-family: 'Courier New', Courier, monospace !important;
            color: var(--txt3);
        }
    }
}
#sidebar {
    #info {
        font-size: .65rem;
        color: var(--txt2);
        position: absolute;
        bottom: 2.5px;
        left: 2.5px;
    }
    #cont{
        height: 100%;width: 100%;
        position: absolute;
        top: 0;left: 0; 
        backdrop-filter: blur(1vmin);
        z-index: 99;
        span{
            display: block;
            background: #313131AF;
            padding: 2vmin;
            cursor: pointer;
            color: var(--txt2);
            transition:var(--gtrans),border-left .1s;
            font-weight: 200;
            &:hover{background: var(--accent);}
            user-select: none;
        }
        .active{border-left:5px solid var(--accent);&:hover{border-color:#fff;}}
    }
    z-index: 95;
    height: 100dvh;
    width: 20dvw;
    position: fixed;
    top: 0;
    left: 0;
    border-right: var(--bg3) 1px solid;
    background-image: 
        linear-gradient(180deg, rgba(23,23,23,0.45) 0%, rgba(23,23,23,0.95) 100%),
        url('../../public/bg.png');
    background-size: cover;
}