body, body * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  position: relative;
  display: block;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}